
<form (ngSubmit)="calculate()" [formGroup]="myForm" class="containerOut">
  <div class="container">
    <div class="container-close">&times;</div>
    <img
      src="https://st2.depositphotos.com/3246347/6806/i/950/depositphotos_68065665-stock-photo-money-stacks-of-euros.jpg"
      alt="image"
    />
    <div class="container-text">
      <h2>Calculate your tax deduction</h2>
      <p>
        Income tax deduction for a pension plan.
      </p>
      <input type="number" formControlName="taxBase" placeholder="Annual income"
      (keyup)="test()"/>
      <span *ngIf="validField('taxBase')" class="danger">Anual income not correct</span>
      <input type="number" formControlName="pensionPlan" placeholder="Plan persona física" (keyup)="test()"/>
      <span *ngIf="validField('pensionPlan')">Personal plan not correct</span>
      <input type="number" formControlName="pensionPlanComp" placeholder="Plan empresa" (keyup)="test()" />
      <span *ngIf="validField('pensionPlanComp')">Company plan not correct</span>
      <button type="submit">Calculate</button>
      <p *ngIf="this.result">{{this.result}}€</p>
    </div>
  </div>
</form>
