
<form (ngSubmit)="calculate()" [formGroup]="myForm" class="conExt">

  <div class="container">
    <img
      src="https://st2.depositphotos.com/3246347/6806/i/950/depositphotos_68065665-stock-photo-money-stacks-of-euros.jpg"
      alt="image"
    />
    <div class="container-text">
      <h2>Calculate your tax deduction</h2>
      <p>
        Income tax deduction for a pension plan.
      </p>
      <input type="number" formControlName="taxBase" placeholder="Annual income"/>
      <span *ngIf="validField('taxBase')" class="danger">Anual income not correct</span>
      <input type="number" formControlName="pensionPlan" placeholder="Plan persona física"/>
      <span *ngIf="validField('pensionPlan')">Personal plan number not correct</span>
      <input type="number" formControlName="pensionPlanComp" placeholder="Plan empresa"/>
      <span *ngIf="validField('pensionPlanComp')">Company plan number not correct</span>
      <div class="d-flex">
        <div class="form-check">
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   formControlName="inlineRadioOptions"
                   name="inlineRadioOptions"
                   id="inlineRadio1"
                   value="ESP">
            <label class="form-check-label" for="inlineRadio1">SPAIN</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input"
                   type="radio"
                   formControlName="inlineRadioOptions"
                   name="inlineRadioOptions"
                   id="inlineRadio2"
                   value="AND">
            <label class="form-check-label" for="inlineRadio2">ANDORRA</label>
          </div>
        </div>
      </div>
      <button type="submit">Calculate</button>
      <p *ngIf="this.result">{{this.result}}€</p>
    </div>
  </div>

</form>

